html, body {
  width: 100vm;
  min-height: 100vm;
}

.blue {
  background-color: #5A9BD5;
}

.yellow {
  background-color: #FFFF01;
}

.outer {
  position: relative;
  width: 300px;
}

.inner {
  position: absolute;
  width: 50%;
  height: 50%;
  margin: 25%;
}

.square {
  display: inline-block;
}

.square:after {
  padding-top: 100%;
  display: block;
  content: '';
}
